.noteInput,
.rendered {
    display: block;
    width: 90vw;
    min-height: 40vh;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 2rem solid var(--vscode-tab-activeModifiedBorder);
    font-family: var(--vscode-font-family);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    outline-color: var(--vscode-input-border);
}

.noteInput:focus,
.rendered:focus {
    outline-color: var(--vscode-input-border);
}

.noteInput {
    resize: vertical;
}

.colorPicker {
    position: absolute;
    top: -0.25rem;
    right: 5vw;
    width: 2.5rem !important;
    height: 2.5rem;
    background-color: transparent !important;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px black);
}

.btnContainer {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.renderBtn {
    width: 10vw;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.renderBtn:disabled {
    opacity: 0.5;
}

.hide {
    display: none;
}